<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1><%= message %></h1> <!-- Muestra el mensaje de error -->
    <h2><%= error.status %></h2> <!-- Muestra el estado del error -->
    <pre><%= error.stack %></pre> <!-- Muestra la traza del error -->
    <a href="/">Volver a la página principal</a>
</body>
</html>
