<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-dark-subtle">
    <%- include('./navbar.ejs') %>

        <main class="container col-11 col-md-8 mx-auto">
            <% if (locals.error) { %>
                <div class="alert alert-danger">
                    <span>
                        <%= locals.error %>
                    </span>
                </div>
                <% } %>

                    <% if (locals.message) { %>
                        <div class="alert alert-success">
                            <span>
                                <%= locals.message %>
                            </span>
                        </div>
                        <% } %>

                            <form method="post" action="/user/login">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox">
                                    <label class="form-check-label" for="checkbox">Check me out</label>
                                </div>
                               <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button></div>
                            </form>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>